---
import Wrapper from "../components/wrapper.astro";
import Navigation from "../components/navigation.astro";
import Content from "../components/content.astro";
import Contact from "../components/contact.astro";
---

<Wrapper>
  <Navigation />
  <Content>
    <h1 class="font-playfair text-7xl md:text-9xl">I'm Kevin Wynn</h1>
    <p class="mt-12">
      I've been working in tech for over a decade. Working with Wordpress themes
      and templating, custom websites, web and phone apps, as well as
      infrastructure.
    </p>
    <p class="mt-6">
      Located in Waco, TX I am looking to pick up a base of clientele that I can
      work with in creating their custom, editable, websites. Easily powered on
      Wordpress allowing full control of content and visual design. While also
      allowing for building custom functionality to get you exactly what you
      want and need.
    </p>
    <Contact />
  </Content>
</Wrapper>
