---
import Wrapper from "../components/Wrapper.astro";
import { ImageTitle } from "../components/ImageTitle";
import { Text } from "../components/Text";
---

<Wrapper>
  <div class="p-8 md:p-24 flex flex-col justify-start">
    <ImageTitle client:load />
    <Text client:load />
    <div class="mb-4">
      <h3 class="font-bold text-xl mb-2">So shoot me an email</h3>
      <p class="mb-2">
        <a href="mailto:kevin@robo-house.com">kevin@robo-house.com</a>
      </p>
    </div>
  </div>
</Wrapper>
