---
import Wrapper from "../components/Wrapper.astro";
import { ImageTitle } from "../components/ImageTitle";
import { Text } from "../components/Text";
---

<Wrapper>
  <div class="p-8 md:p-24 flex flex-col justify-start">
    <ImageTitle client:load />
    <Text client:load />
  </div>
</Wrapper>
