---
import Wrapper from "../components/wrapper.astro";
import Navigation from "../components/navigation.astro";
import Content from "../components/content.astro";
import FallingTags from "../components/fallingTags.astro";
import Contact from "../components/contact.astro";
---

<Wrapper>
  <Navigation />
  <Content>
    <h1 class="font-playfair text-7xl md:text-9xl">
      Putting you in your place
    </h1>
    <FallingTags />
    <p class="mt-12 font-bold">
      The newest and hottest custom web development shop located in Waco, TX
    </p>
    <p class="mt-2">
      Taking on new clientele to get your business on the online map. Custom
      logo and web design, as well as custom Wordpress websites, themes, and
      plugins.
    </p>
    <Contact />
  </Content>
</Wrapper>
