---
import Wrapper from "../components/wrapper.astro";
import Navigation from "../components/navigation.astro";
import Content from "../components/content.astro";
import FallingTags from "../components/fallingTags.astro";
import ContactForm from "../components/contactForm.astro";
import PostCard from "../components/postCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Wrapper>
  <Navigation />
  <Content>
    <h1 class="font-playfair text-7xl md:text-9xl">
      Putting you in your place
    </h1>
    <FallingTags />
    <div class="mt-12">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
    <ContactForm />
  </Content>
</Wrapper>
