---
import Wrapper from "../components/wrapper.astro";
import Navigation from "../components/navigation.astro";
import Content from "../components/content.astro";
import Contact from "../components/contact.astro";
---

<Wrapper>
  <Navigation />
  <Content>
    <h1 class="font-playfair text-7xl md:text-9xl">What is provided</h1>
    <p class="mt-12">
      I can offer a full web design and development shop. Having got my start as
      a web designer in 2012 I spent 4 years working as a designer building
      custom visual and ui flows for a variety of clients. From there I have
      worked as a web developer building and managing websites and applications.
    </p>
    <p class="mt-6 font-bold">Here is all that I can provide for you:</p>
    <ul class="mt-4">
      <li>Custom website and logo designs</li>
      <li>Custom Wordpress themes and plugin</li>
      <li>Web and Phone applications</li>
      <li>Infrastructure and automation</li>
      <li>SEO and PPC management</li>
      <li>Static websites or SSR websites</li>
      <li>Cybersecurity</li>
    </ul>
    <Contact />
  </Content>
</Wrapper>
