---
import mailchimp from "@mailchimp/mailchimp_marketing";

const { noText } = Astro.props;

mailchimp.setConfig({
  apiKey: import.meta.env.MAILCHIMP_API_KEY,
  server: "us18",
});

const LIST_ID = "8a6f11c67d";

let hasSubmitted = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const first = data.get("first");
    const last = data.get("last");
    const phone = data.get("phone");
    const email = data.get("email");

    const response = await mailchimp.lists.addListMember(LIST_ID, {
      email_address: email,
      status: "subscribed",
      merge_fields: {
        FNAME: first,
        LNAME: last,
        PHONE: phone,
      },
    });

    console.log(
      `Successfully added contact as an audience member. The contact's id is ${response.id}.`
    );
  } catch (error) {
    console.log("error!:", error);
    if (error instanceof Error) {
      console.error(error.message);
    }
  }

  hasSubmitted = true;
}
---

<div class="mt-12">
  {
    !noText && (
      <>
        <h1 class="text-xl font-bold">Get In Touch</h1>
        <p>Let's talk about your next project.</p>
      </>
    )
  }
  {
    hasSubmitted ? (
      <div>
        <p>Thanks! We will be in touch.</p>
      </div>
    ) : (
      <>
        <form method="POST" class="max-w-md">
          <label class="flex flex-col mt-6">
            First Name:
            <input
              type="text"
              name="first"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <label class="flex flex-col mt-6">
            Last Name:
            <input
              type="text"
              name="last"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <label class="flex flex-col mt-6">
            Phone:
            <input
              type="text"
              name="phone"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <label class="flex flex-col mt-6">
            Email:
            <input
              required
              type="email"
              name="email"
              class="block text-neutral-950 p-2 outline-none"
            />
          </label>
          <button class="bg-red-600 color-neutral-50 py-2 px-4 rounded-full mt-6 hover:bg-red-700 duration-150">
            Submit
          </button>
        </form>
      </>
    )
  }
</div>
