---

---

<div class="mt-12 flex flex-wrap items-baseline">
  <p class="p-4 mr-2 mb-2 border-2 border-neutral-50 rounded-full">
    Web Development
  </p>
  <p class="p-4 mr-2 mb-2 border-2 border-neutral-50 rounded-full">
    Web Design
  </p>
  <p class="p-4 mr-2 mb-2 border-2 border-neutral-50 rounded-full">
    Application Development
  </p>
  <p class="p-4 mr-2 mb-2 border-2 border-neutral-50 rounded-full">SEO & PPC</p>
  <p class="p-4 mr-2 mb-2 border-2 border-neutral-50 rounded-full">Wordpress</p>
</div>
