---
import NewsletterForm from "./newsletterForm.astro";

const date = new Date().getFullYear();
---

<div
  class="w-full mt-12 p-6 flex flex-col md:flex-row justify-around items-end"
>
  <NewsletterForm />
  <p>Robo House &copy; {date}</p>
</div>
