---

---

<header>
  <nav class="w-full flex flex-row justify-center pt-8">
    <div>
      <a class="mr-2 hover:text-blue-500 transition-all" href="/">Home</a>
      <a class="mr-2 hover:text-blue-500 transition-all" href="/blog">Blog</a>
    </div>
  </nav>
</header>
