---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="w-full flex flex-row justify-between p-4 mb-4">
    <h2>
      <a href="/" class="hover:text-orange-600 transition-all text-xl"
        >{SITE_TITLE}</a
      >
    </h2>
    <!-- <div>
      <a class="mr-2 hover:text-orange-600 transition-all" href="/">Home</a>
      <a class="mr-2 hover:text-orange-600 transition-all" href="/blog">Blog</a>
      <a class="mr-2 hover:text-orange-600 transition-all" href="/about"
        >About</a
      >
    </div> -->
  </nav>
</header>
