---

---

<div class="p-8 md:py-6 md:px-12">
  <div class="w-full flex flex-row items-baseline justify-between">
    <div class="font-playfair w-48 text-lg md:mr-12">
      <a class="no-underline" href="/">Robo House</a>
    </div>
    <div>
      <ul class="w-full flex flex-row justify-between font-light list-none">
        <li class="mr-6">
          <a class="no-underline" href="/blog">Blog</a>
        </li>
        <li class="mr-6">
          <a class="no-underline" href="/about">About</a>
        </li>
        <li class="mr-6">
          <a class="no-underline" href="/services">Services</a>
        </li>
        <li class="mr-6">
          <a class="no-underline" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
