---

---

<div class="p-8 md:py-6 md:px-12">
  <div class="w-full flex flex-row items-baseline justify-between">
    <div class="font-playfair w-48 text-lg md:mr-12">
      <a href="/" class="hover:text-red-600 duration-150">Robo House</a>
    </div>
    <div>
      <ul class="w-full flex flex-row justify-between font-light">
        <li class="mr-6">
          <a class="hover:text-red-600 duration-150" href="/about">About</a>
        </li>
        <li class="mr-6">
          <a class="hover:text-red-600 duration-150" href="/services"
            >Services</a
          >
        </li>
        <!-- <li class="mr-6">
          <a class="hover:text-red-600 duration-150" href="/clients">Clients</a>
        </li> -->
        <li class="mr-6">
          <a class="hover:text-red-600 duration-150" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
