---
let hasSubmitted = false;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const email = data.get("email");

  const sendgridData = {
    contacts: [
      {
        email: email,
      },
    ],
  };

  await fetch("https://api.sendgrid.com/v3/marketing/contacts", {
    method: "PUT",
    body: JSON.stringify(sendgridData),
    headers: {
      Authorization: `Bearer ${import.meta.env.SENDGRID_API_KEY}`,
      "Content-Type": "application/json",
    },
  });

  hasSubmitted = true;
}
---

<div class="mr-4 flex flex-row items-center">
  {
    hasSubmitted ? (
      <div>
        <p>Thanks! Look out for the next one.</p>
      </div>
    ) : (
      <form method="POST" class="max-w-md flex flex-row items-end">
        <div class="flex flex-col mr-4">
          <label class="flex flex-col">Subscribe to the newsletter:</label>
          <input
            required
            type="email"
            name="email"
            placeholder="email address"
            class="block text-neutral-950 p-2 w-72 outline-none"
          />
        </div>
        <button class="bg-red-600 max-h-12 max-w-24 color-neutral-50 py-2 px-4 rounded-full mt-6 hover:bg-red-700 duration-150">
          Submit
        </button>
      </form>
    )
  }
</div>
