---
const { tag } = Astro.props;
const { data } = tag;
---

<div class="flex flex-row">
  <a class="mb-6 no-underline" href=`/tag/${tag.slug}`>
    <h1 class="font-bold mb-0 underline">{data.name}</h1>
  </a>
</div>
