---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import CookieConsentBanner from "./CookieConsentBanner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-gray-700 font-serif">
    <main class="min-h-screen grid grid-cols-1 md:grid-cols-2">
      <slot />
    </main>
    <CookieConsentBanner />
    <Footer />
  </body>
</html>
