---
import Footer from "./footer.astro";
import Head from "./head.astro";

// allow for authors and tags here too
const { post } = Astro.props;
---

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    h2 {
      @apply font-playfair text-4xl font-bold mb-2;
    }

    p,
    label {
      @apply leading-relaxed mb-4 mt-2 font-thin;
    }

    span {
      @apply font-thin;
    }

    ul {
      @apply list-disc list-inside mb-4 mt-2 font-thin;
    }

    ol {
      @apply list-decimal list-inside mb-4 mt-2 font-thin;
    }

    a {
      @apply hover:text-red-600 duration-150 underline;
    }
  }
</style>
<html
  lang="en"
  class="bg-gradient-to-br from-neutral-900 to-slate-900 bg-neutral-900"
>
  <Head post={post} />
  <script>
    // todo: typing
    //@ts-ignore
    if (window.CookieConsent) {
      //@ts-ignore
      window.CookieConsent.run({
        categories: {
          necessary: {
            enabled: true, // this category is enabled by default
            readOnly: true, // this category cannot be disabled
          },
          analytics: {},
        },
        // todo: typing
        onFirstConsent: ({ cookie }: { cookie: any }) => {
          location.replace(location.href);
        },
        language: {
          default: "en",
          translations: {
            en: {
              consentModal: {
                title: "We use cookies",
                description: "Cookie modal description",
                acceptAllBtn: "Accept all",
                acceptNecessaryBtn: "Reject all",
                showPreferencesBtn: "Manage Individual preferences",
              },
              preferencesModal: {
                title: "Manage cookie preferences",
                acceptAllBtn: "Accept all",
                acceptNecessaryBtn: "Reject all",
                savePreferencesBtn: "Accept current selection",
                closeIconLabel: "Close modal",
                sections: [
                  {
                    title: "Somebody said ... cookies?",
                    description: "I want one!",
                  },
                  {
                    title: "Strictly Necessary cookies",
                    description:
                      "These cookies are essential for the proper functioning of the website and cannot be disabled.",

                    //this field will generate a toggle linked to the 'necessary' category
                    linkedCategory: "necessary",
                  },
                  {
                    title: "Performance and Analytics",
                    description:
                      "These cookies collect information about how you use our website. All of the data is anonymized and cannot be used to identify you.",
                    linkedCategory: "analytics",
                  },
                  {
                    title: "More information",
                    description:
                      'For any queries in relation to my policy on cookies and your choices, please <a href="/contact">contact us</a>',
                  },
                ],
              },
            },
          },
        },
      });
    }
  </script>
  <body
    class="bg-neutral-900 text-neutral-100 bg-gradient-to-br from-neutral-900 to-slate-900 min-h-dvh"
  >
    <slot />
    <Footer />
  </body>
</html>
