---
import Footer from "./footer.astro";
import Head from "./head.astro";
---

<html
  lang="en"
  class="bg-gradient-to-br from-neutral-900 to-slate-900 bg-neutral-900"
>
  <Head />
  <body
    class="bg-neutral-900 text-neutral-100 bg-gradient-to-br from-neutral-900 to-slate-900"
  >
    <slot />
    <Footer />
  </body>
</html>
