---
import { getCollection } from "astro:content";
import Wrapper from "../../components/wrapper.astro";
import Navigation from "../../components/navigation.astro";
import Content from "../../components/content.astro";
import TagCard from "../../components/tagCard.astro";

const tags = await getCollection("tags");
---

<Wrapper>
  <Navigation />
  <Content>
    <h1 class="font-playfair text-7xl md:text-9xl">Tags</h1>
    <p class="mt-12">
      Keep up to date with our latest news. As we gain clientele and publish
      case studies we will do write-ups here about those. This is a list of all
      tags used in posts.
    </p>
    <ul class="min-h-screen">
      {tags.map((tag) => <TagCard tag={tag} />)}
    </ul>
  </Content>
</Wrapper>
